extends layout

block content

  if translations.length
    table.listing-table.table-dark.table-striped
      tr
        th Name
        //- th Email
      each translation in translations
        tr
          td= registration.paragraph
          //- td= registration.email
  else
    p No translations yet :(